{% extends "zvms/base.html" %} {% block container %}
<script>
  preventWindowUnload();
</script>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      data-bs-toggle="tab"
      data-bs-target="#permission-tab-pane"
      type="button"
      role="tab"
      aria-controls="permission-tab-pane"
      aria-selected="true"
    >
      修改用户权限
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      data-bs-toggle="tab"
      data-bs-target="#login-tab-pane"
      type="button"
      role="tab"
      aria-controls="login-tab-pane"
      aria-selected="false"
    >
      登录他人账号
    </button>
  </li>
  <!--li class="nav-item" role="presentation">
    <button
      class="nav-link"
      data-bs-toggle="tab"
      data-bs-target="#editor-tab-pane"
      type="button"
      role="tab"
      aria-controls="editor-tab-pane"
      aria-selected="false"
    >
      服务状态
    </button>
  </li-->
</ul>
<div class="tab-content">
  <div
    class="tab-pane fade show active"
    id="permission-tab-pane"
    role="tabpanel"
    aria-labelledby="permission-tab"
    tabindex="0"
  >
    <form action="/admin/permission" method="POST">
      <div class="input-group mb-3">
        <i class="bi bi-person input-group-text"></i>
        <input
          class="form-control"
          type="text"
          id="userident"
          name="userident"
          placeholder="用户名或ID"
        />
      </div>
      {% for value, name in permission2str.items() %} {% if value !=
      Permission.ADMIN %}
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="check-{{value.value}}"
          name="perm"
          value="{{value.value}}"
        />
        <label class="form-check-label" for="check-{{value.value}}"
          >{{name}}</label
        >
      </div>
      {% endif %} {% endfor %}
      <button class="btn btn-primary" type="submit">修改用户权限</button>
    </form>
  </div>
  <div
    class="tab-pane fade"
    id="login-tab-pane"
    role="tabpanel"
    aria-labelledby="login-tab"
    tabindex="0"
  >
    <form action="/admin/login" method="POST">
      <div class="input-group mb-3">
        <i class="bi bi-person input-group-text"></i>
        <input
          class="form-control"
          type="text"
          id="userident"
          name="userident"
          placeholder="用户名或 ID"
        />
      </div>
      <button class="btn btn-primary" type="submit">登录</button>
    </form>
  </div>
  <!--div
    class="tab-pane fade"
    id="editor-tab-pane"
    role="tabpanel"
    aria-labelledby="editor-tab"
    tabindex="0"
  >
    <p id="114" style="font-size: 18px" onclick="set">加载中……</p>
    <p id="514" style="font-size: 18px"></p>
    <p>服务状态：<span style="color: green">运行中</span></p>
    <script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script>
    <script>
      let t = 0;
      const interval = setInterval(() => {
        t = Math.random() * 20 + 30;
        document.getElementById(
          "114"
        ).innerText = `服务器 CPU 荷载率：${t.toFixed(3)}%`;
      }, 3000);
      let v = 0;
      const itv = setInterval(() => {
        v = Math.random() * 20;
        document.getElementById("514").innerText = `延时率：${t.toFixed(1)}ms`;
      }, 3000);
      let n = 0;
      document.getElementById("114").onclick = set;
      function set() {
        n++;
        if (n >= 11.4514) {
          var vConsole = new window.VConsole();
        }
      }
    </script>
  </div-->
</div>
{% endblock %}
